@import "./constants";

.Character {
  position: absolute;
  width: $gridSize;
  height: $gridSize * 1.4;
  margin-top: -0.4 * $gridSize;

  &.team_0 {
    background-image: url(images/characters/character_0.png);
  }

  &.team_1 {
    background-image: url(images/characters/character_1.png);
  }

  &.bottom {
    background-position-x: 0;
  }

  &.left {
    background-position-x: -100%;
  }

  &.top {
    background-position-x: -200%;
  }

  &.right {
    background-position-x: -300%;
  }

  background-size: 400%;
  animation-name: walking-anim;
  animation-duration: .75s;
  animation-iteration-count: infinite;
  animation-timing-function: step-start;

  &.moving {
    background-position-y: 0;
  }

  &.top,
  &.left {
    .holding {
      left: 0;
    }
  }


  &.bottom,
  &.right {
    .holding {
      right: 0;
    }
  }

  .holding {
    position: absolute;
    top: 60%;
    width: 60%;
    height: 40%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    animation-name: walking-holding-anim;
    animation-duration: .75s;
    animation-iteration-count: infinite;
    animation-timing-function: step-start;

    &.lamp {
      background-image: url(images/blocks/lamp.png);
    }

    &.key {
      background-image: url(images/blocks/keySprite.png);
      transform: skew(10deg);
    }
  }

  &:not(.moving) {
    animation: none;

    .holding {
      animation: none;
    }
  }
}

@keyframes walking-holding-anim {
  0%, 100% {
    margin-top: 4%;
  }

  50% {
    margin-top: 0;
  }
}

@keyframes walking-anim {
  0%, 100% {
    background-position-y: -100%;
  }

  25% {
    background-position-y: 0;
  }

  50% {
    background-position-y: 100%;
  }

  75% {
    background-position-y: 0;
  }
}
